[http]
	cookiefile = /usr/local/google/home/juliankatz/.gitcookies
	saveCookies = true
	sslVerify = false
[user]
	name = juliankatz
	email = juliankatz@google.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	stripLeadingSymbols = false
	markEmptyLines = false

[url "sso://gke-internal.git.corp.google.com"]
	insteadof = https://gke-internal.git.corp.google.com
[pull]
	rebase = false
[url "sso://gke-internal.googlesource.com"]
	insteadof = https://gke-internal.googlesource.com
[checkout]
  defaultRemote = origin

[pager]
  diff = delta --paging=always
  log = delta --paging=always
  reflog = delta --paging=always
  show = delta --paging=always

[interactive]
  diffFilter = delta --color-only --features=interactive --dark

[delta]
  features = decorations collared-trogon navigate
  line-numbers = true
  side-by-side = true

[delta "interactive"]
  keep-plus-minus-markers = false
  paging-mode = always

[delta "decorations"]
    commit-decoration-style = blue ol
  paging-mode = always
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
